venv/
__pycache__/
*.pyc

data/
*.parquet
*.crc
*.duckdb

dbt/logs/
dbt/.user.yml
dbt/profiles.yml

infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
infra/terraform.tfvars

realtimepipeline-495323-e2ccb10aab1e.json
